@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

main {
    max-width: 600px;
    border: 2px solid orange;
    border-radius: 24px;
    overflow: hidden;
}

.top img {
    width: 100%;
    object-fit: cover;
}

.content {
    padding: 35px;
}
.content h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

.content p {
    text-align: center;
    max-width: 30ch;
    padding: 10px;
    margin: 10px auto;
    color: hsl(240, 15%, 61%);
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    border-radius: 18px;
}
.plan-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.plan img {
    width: 40px;
    height: 40px;
}

.plan h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: hsl(223, 47%, 23%);
}
.plan p {
    margin: 0;
}

.content button {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 30px 0;
}
.plan a {
    color: hsl(245, 75%, 52%);
    font-size: 1.2rem;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: hsl(240, 15%, 51%);
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    display: block;
    margin: 20px 0;
}

footer {
    display: flex;
}
footer a {
    margin: none;
}

