@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:hsl(223, 43%, 80%)
}

main {
    max-width: 500px;
    border-radius: 24px;
    overflow: hidden;
}
.top {
    height: 225px;
}
.top img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.content {
    background-color: #fff;
    padding: 40px 50px 20px;
}
.content h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

.content p {
    text-align: center;
    width: min(30ch, 90%);
    padding: 10px;
    margin: 0px auto 10px;
    color: #83889E;
    line-height: 1.7rem;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FE;
    padding: 15px 20px;
    border-radius: 18px;
}
.plan-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
}
.plan img {
    width: 50px;
    height: 50px;
}

.plan h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: hsl(223, 47%, 23%);
}
.plan p {
    margin: 0;
    padding: 0;
}

.content button {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 30px 0;
    box-shadow: 0 10px 20px hsla(245, 41%, 48%, 0.618);
}
.content button:active {
    background-color: hsl(242, 76%, 66%);
    cursor: pointer;
}
.plan a {
    color: hsl(245, 75%, 52%);
    font-size: 1rem;
    text-decoration: underline;
    margin: 0;
}
.plan a:active {
    color: hsl(242, 76%, 66%);
    cursor: pointer;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: hsl(240, 15%, 51%);
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    display: block;
    margin: 0 0 22px;
}
a:active {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

footer {
    display: flex;
}
footer a {
    margin: none;
    margin-top: 0;
    margin-left: 3px;
    font-size: 11px;
}


@media screen and (max-width: 500px) {
    body {
        padding: 25px;
    }
    .content {
        padding: 30px 30px 20px;
        font-size: .9rem;
    }
    .content h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .content p {
        padding: 0;
    }
    .plan {
        margin-top: 20px;
    }
    .plan a {
        font-size: .9rem;
    }
}
